[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
djangorestframework = "*"
gunicorn = "*"
uvicorn = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
python-dotenv = "*"
rest-api-payload = "*"
drf-yasg = "*"
pip = "*"
requests = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.9"
